body{
  margin: 0%;
    font-family: 'Roboto', sans-serif;  
}
h1{
  font-size: 50px;
}
h2{
  font-size: 45px;
  color: rgb(206, 120, 22);
}
h3{
  font-size: 40px;
  height: 4
  
}
h4{
  font-size: 45px;
  ;

}
h5{
  font-size: 40px;
 
 

}
h6{
  font-size: 20px;
  color: rgb(10, 119, 122);
}
p{
  color: dimgray;
  margin: 1px;
}
.name{
    color: orange;
    
}
.with{
  width: 40%;
  float: left;
  
  margin: 3%;
  padding: 2%;
}
.with img{
  width: 110%;
}
.top-banner{
  
  background-image: url(banner/top-banner.png);
  background-repeat: no-repeat;
  }
section{
  height: 500px;
  padding-bottom: 150px;
  
}
.link-button{
  color: white;
  text-decoration: none;
  background-color: orange;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 700px;
}
.Dream-area{
  background-image: url(banner/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.pull{
  color: brown;
  text-decoration: none;
  background-color: coral;
  padding: 10px 10px;
  border-radius: 15px;
font-weight: 700px;
}
.Experience-area{
  height: 40%;
  background-image: url(banner/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left
  
}
.icon{
 width: 25%;
 
  float: left;
  
  margin: 3%;
  padding: 2%;
  box-shadow: 10px 10px 40px;
}
#gold{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}
#well{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

footer p{
  text-align: center;
}